:root {
  /* COLORS */
  /* PRIMARY */
  --clr-orange-400: 31 77% 52%;
  --clr-cyan-700: 184 100% 22%;
  --clr-cyan-800: 179 100% 13%;
  /* NEUTRAL */
  --clr-white: 0 0% 100%;
  --clr-gray-50: 0 0% 95%;

  /* FONT */
  --ff-cursive: 'Big Shoulders Display', cursive;
  --ff-sans: 'Lexend Deca', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

/* RESET */
/* https://andy-bell.co.uk/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* UTILS */

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.bg-orange-400 {
  background-color: hsl(var(--clr-orange-400));
}

.bg-cyan-700 {
  background-color: hsl(var(--clr-cyan-700));
}

.bg-cyan-800 {
  background-color: hsl(var(--clr-cyan-800));
}

.text-gray-50 {
  color: hsl(var(--clr-gray-50));
}

.text-white\/75 {
  color: hsl(var(--clr-white) / 0.75);
}

.btn {
  background-color: hsl(var(--clr-gray-50));
  border: 2px solid hsl(var(--clr-gray-50));
  padding: 1em 2em;
}

.btn:hover {
  background-color: transparent;
  color: hsl(var(--clr-gray-50));
}

.btn-pill {
  border-radius: 10em;
}

.btn-orange-400 {
  color: hsl(var(--clr-orange-400));
}

.btn-cyan-700 {
  color: hsl(var(--clr-cyan-700));
}

.btn-cyan-800 {
  color: hsl(var(--clr-cyan-800));
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

/* BASE */

body {
  font: var(--fw-regular) 0.9375rem var(--ff-sans);
  background-color: hsl(var(--clr-gray-50));
  padding: 1.5em;
}

h1,
h2 {
  font-family: var(--ff-cursive);
  font-weight: var(--fw-bold);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/* MAIN */

.car-packages__list {
  max-width: 21.8em;
  flex-direction: column;
  border-radius: 0.5em;
  overflow: hidden;
}

.car-packages__item {
  max-width: 20.444em;
  padding: 3.2em;
  flex-direction: column;
  align-items: start;
}

.car-packages__item-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 0.875em;
}

.car-packages__item-desc {
  line-height: 1.65;
  margin-block: 1.667em;
  flex: 1;
}

@media screen and (min-width: 50em) {
  .car-packages__list {
    max-width: 61.334em;
    min-height: 33.334em;
    flex-direction: row;
  }
}
